.scroll-to-top{
  position: fixed;
  bottom: 1.56rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background: #8E8E93;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
  z-index: 1000;
  padding: 0.3rem;
  &:hover{
    opacity: 0.8;
  }
}