.tech{
  padding: 1.5rem 2rem 5rem;
  .scattered-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .logo{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    & img{
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  .title{
    max-width: 550px;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding: 4rem 0 2rem;
  }
  .title1{
    padding: 4rem 0 0;
  }
  .desc{
    max-width: 670px;
    color: #8E8E93;
    font-size: 1.1rem;
    text-align: center;
    margin: auto;
    padding: 1rem 0 2rem;
  }
  & button{
    color: #9524FF;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin: auto;
    border: 0.0625rem solid #9524FF;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    & img{
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}