.event{
  background-image: url('/images/utils/bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  gap: 10rem;
  padding: 7rem 2rem 9rem;
  .content{
    max-width: 500px;
    color: #EBE9ED;
    .title{
      font-size: 1.7rem;
      font-weight: 600;
    }
    .heading{
      color: #A649FF;
      font-size: 4rem;
      font-weight: 700;
    }
    .desc{
      margin: 0.7rem 0 1.2rem;
    }
    & button{
      color: #9524FF;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      border: 0.0625rem solid #9524FF;
      border-radius: 2rem;
      padding: 0.7rem 2rem;
      & img{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .logo{
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 1050px){
  .event{
    gap: 4rem;
  }
}
@media (max-width: 769px){
  .event{
    gap: 1.5rem;
    .logo{
      width: 10rem;
      height: 10rem;
    }
  }
}
@media (max-width: 576px){
  .event{
    .logo{
      display: none;
    }
  }
}